/** Standard Styling **/
html,
body {
  font-size: 14px;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}
.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.flex-btn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.flex-col {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}
a {
  text-decoration: none;
  color: #ffffff;
}
.header {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  background-color: rgba(0,0,0,0.9);
  padding: 1rem;
}
.header a {
  color: #f5f5f7;
  opacity: .8;
}
.header a:hover {
  opacity: 1;
}
.public-health {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #0071E3;
  padding: 1rem 0;
}
.online-shopping {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  padding: 1rem 0;
}
.online-shopping a {
  color: #2997ff;
}
.public-health a:hover,
.online-shopping a:hover {
  text-decoration: underline;
}
.main-banner {
  background-image: url("../img/se.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 70rem;
  color: #ffffff;
  text-align: center;
}
.main-banner .phone-name a h2 {
  font-size: 4rem;
  padding: 2rem 0;
  font-weight: 800;
  font-family: 'Roboto Slab', serif;
}
.main-banner .phone-name {
  font-size: 1.3rem;
}
.main-banner .phone-name .fade {
  padding: 1rem;
  opacity: 0.6;
  font-size: 1rem;
}
.learn {
   position: absolute;
   top: 150%;
   left: 50%;
   transform: translate(-50%, -150%);
 }
.learn span a {
   padding: 0 1.5rem;
   font-size: 1.35rem;
   color: #0071E3;
 }
.learn span a:hover {
   text-decoration: underline;
 }
.accessories {
  margin-top: 2rem;
  background: #f8f8ff;
}
.link img {
  width: 100%;
}
.product .link {
  padding: 1rem;
}
.back-container {
  background: #f5f5f7;
  padding: 2rem;
  color: #1d1d1f;
}
.quicklinks {
  margin: 0 15rem;
}
.quicklinks a {
  color: #1d1d1f;
  padding: 0.5rem 0;
}
.shortcut p {
  padding: 1rem 0;
  font-size: 1.2rem;
}
.shortcut {
  justify-content: space-between;
}
footer {
  margin-top: 3rem;
}
.prefoot {
  padding-bottom: 1rem;
}
.prefoot a {
  color: #2997ff;
}
.postfoot1 a {
  padding: 0 0.2rem;
}
.foot {
  padding-top: 1rem;
  border-top: 1px solid #c0c0c0;
}
